{% extends 'base.html' %}

{% block title %}
    Purchase History
{% endblock %}

{% block content %}
    <div class='container'>
        <h2 class='mt-4'>Purchase History</h2>
        <table class="table mt-4 table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">Sl No</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Reg.No</th>
                <th scope="col">Ch.No</th>
                <th scope="col">Eng.No</th>
                <th scope="col">Supplier</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Sale Price</th>
                <th scope="col">Year.Mfg</th>
                <th scope="col">NOC</th>
                <th scope="col">NOC Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.order_no }}</td>
                        <td>{{ purchase.sku }}</td>
                        <td>{{ purchase.number }}</td>
                        <td>{{ purchase.chassis_number }}</td>
                        <td>{{ purchase.engine_number }}</td>
                        <td>{{ purchase.supplier }}</td>
                        <td>{{ purchase.purchase_price }}</td>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.sale_price }}</td>
                        <td>{{ purchase.manufacturing_date }}</td>
                        <td>{{ purchase.noc }}</td>
                        <td>{{ purchase.noc_date }}</td>
                        <td><a class='btn btn-dark me-4' href={% url 'edit-purchase' purchase.order_no %}>Edit</a>
                            <a class='btn btn-danger' href={% url 'delete-purchase' purchase.order_no %}>Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}