{% extends 'base.html' %}

{% block title %}
    Purchase History
{% endblock %}

{% block content %}
    <div class='container'>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order No</th>
                <th scope="col">SKU</th>
                <th scope="col">Supplier</th>
                <th scope="col">Quantity Purchased</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.order_no }}</td>
                        <td>{{ purchase.sku }}</td>
                        <td>{{ purchase.supplier }}</td>
                        <td>{{ purchase.quantity }}</td>
                        <td>{{ purchase.price }}</td>
                        <td><a class='btn btn-dark' href={% url 'edit-purchase' purchase.sku %}>Edit</a></td>
                        <td><a class='btn btn-danger' href={% url 'delete-purchase' purchase.sku %}>Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}